body {
    margin: 0;
    padding: 0;
}

.linea_sup {
    width: 50px;
    height: 4px;
    border-radius: 10%;
    background-color: black;
    text-align: center;
    font-weight: 900;
    margin: 15px auto;
}

.titulo_01 {
    text-align: center;
    font-family:'Ruda';
    font-weight: bold;
    font-size: 1em;
    margin: 0;
    letter-spacing: 0.1em;
}

h1, h2 {  
    font-family:'Ruda';
    width: 100vw;   
    text-align: center;
    display: inline-block;
    font-weight: 900;
    margin: 0;
}

h1 {        
    font-size: 3.5em;
    color: #B88940;
}

.linea_01, .linea_02 {
    width: 100vw;   
    text-align: center;
    display: inline-block;
    font-family: 'Catamaran';
    font-weight: 700;
    margin: 0;
}

.linea_01 {
    letter-spacing: 0.15em;
    margin-top: 10px;
}

.linea_02 {
    font-size: 0.8em;
}

.container_general {
    width: 100vw;
    height: 200px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.container_lineas {
    margin: 125px auto;
    position: relative;
    z-index: 0;
}

.franjas {
    width: 95vw;
    height: 30px;
    background-color: #FFBD59;
    margin: 15px auto;    
}

.container_imagenes {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;    
    top: -340px;
}

.img_01 {
    width: 200px;
    margin: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

.precios {
    font-family: 'Catamaran';
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.container_informacion_bajo {
    width: 100vw;
    position: relative;
    text-align: center;
    top: -270px;
}

.titulo_02 {
    width: 100vw;   
    text-align: center;
    display: inline-block;
    font-family: "Open Sans";
    font-weight: 900;
    color:#B88940;
    margin: 0;
    letter-spacing: 0.1em;
}

@media (width <= 680px) {
    .img_01 {
        width: 180px;
        margin-top: 10px;
    }

    .franjas {
        width: 98vw; 
    }


}

@media (width <= 580px) {
    .img_01 {
        width: 150px;
        margin-top: 20px;
    }

    .franjas {
        height: 30px;   
    }

}

@media (width <= 500px) {
    .img_01 {
        width: 130px;
        margin-top: 45px;
    }

    .franjas {
        height: 25px;   
    }
}

@media (width <= 440px) {
    .img_01 {
        width: 110px;
        margin-top: 75px;
    }

    .franjas {
        height: 18px;   
    }

}