* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arimo';
}

.cont-header {
    width: 90vw;
    position: relative;
    margin: 5vh auto;
}

.circulo {
    width: 30px;
    height: 30px;
    background-color: #7ED957;
    border-radius: 100%;
}

.linea-header_01, .linea-header_02, .circulo {
    display: inline-block;
}

.linea-header_01, .linea-header_02 {    
    position: absolute;
    margin: 0;    
}

.linea-header_01 {
    font-size: 1.8em;
    top: 0.1vh;
    left: 50px;
}

.linea-header_02 {
    font-size: 0.9em;
    top: 1.5vh;
    left: 70vw;
}

.sec_01 {
    margin: 0 auto;
}

.contenedor_img {
    width: 98vw;
    margin: 0 auto;    
}

.img_01 {
    width: 98vw;
    position: relative;
    z-index: 0;
}

.contenedor_titulo_01, .contenedor_titulo_02 {
    /*height: 5vh;*/
    position: relative;
    top: -400px;
    left: 20px;
    z-index: 1;
    color: #EEEEEE;
    background-color: #00BF63;
    font-style: 'Arimo';  
}

.contenedor_titulo_01 {
    width: 200px;
}

.contenedor_titulo_02 {
    width: 400px;
    margin-top: 2px;
}

.linea_section1_01 {
    font-size: 1.5em;
    margin-left: 35px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

.contenedor_titulo_03, .contenedor_titulo_04 {
    position: relative;
    top: -400px;
    left: 20px;
    z-index: 1;
    color: #EEEEEE;
    background-color: black; 
}

.contenedor_titulo_03 {
    width: 400px;
    margin-top: 25px;
}

.contenedor_titulo_04 {
    width: 300px;
    margin-top: 2px;
}

.linea_section1_02 {
    font-size: 1em;
    margin-left: 35px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

.sec_02 {
    margin: 0 auto;
    position: relative;
    top: -100px;
}

.contenedor_titulo_05 {
    width: 73vw;
    margin: 0 auto;
}

.contenedor_img_02 {
    width: 80vw;
    margin: 0 auto;
}

.contenedor_img_02 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.soluciones_01 {
    width: 20vw;
    margin: 0 auto;
}

.img_02 {
    width: 200px;
    /*height: 30vh;*/
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.espacio_final {
    width: 96vw;
    /*height: 10vh;*/
    height: 70px;
    position: relative;
    bottom: 15px;
    background-color: #00BF63;
    color: #EEEEEE;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.cont_esp_01 {
    width: 32vw;
    text-align: center;
    display: inline-block;
    margin-top: 25px;
}

.soluciones_img,
.linea_imagen {
    display: inline-block;
}

.linea_imagen {
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    top: -10px;
    font-weight: bold;
    
}

.linea_section1_03, 
.linea_section1_04,
.linea_section1_05 {
    margin-top: 10px;
}

.linea_section1_03 {
    font-size: 1.2em;
}

.linea_section1_04 {
    font-size: 1em;
}

.linea_section1_05 {
    font-size: 0.7em;    
}




@media (width <= 1000px) {

    .contenedor_titulo_01,
    .contenedor_titulo_02,
    .contenedor_titulo_03, 
    .contenedor_titulo_04 {
        top: -350px;
    }
}

@media (width <= 900px) {

    .contenedor_titulo_01,
    .contenedor_titulo_02,
    .contenedor_titulo_03, 
    .contenedor_titulo_04 {
        top: -300px;
    }

    .linea_final_01 {
        font-size: 0.8em;
    }


}

@media (width <= 750px) {

    .contenedor_titulo_01,
    .contenedor_titulo_02,
    .contenedor_titulo_03, 
    .contenedor_titulo_04 {
        top: -250px;
    }

    .img_02 {
        width: 180px;
    }

    .linea_final_01 {
        font-size: 0.7em;
    }

    .linea_imagen {
        margin-top: 5px;
    }
}

@media (width <= 670px) {

    .contenedor_titulo_01,
    .contenedor_titulo_02,
    .contenedor_titulo_03, 
    .contenedor_titulo_04 {
        top: -220px;
    }

    .contenedor_titulo_01{     
        width: 180px;
    }

    .contenedor_titulo_02 {
        width: 320px;
    }

    .linea_section1_01 {
        font-size: 1.3em;
    }

    .linea_section1_02 {
        font-size: 0.8em;
    }

    .contenedor_titulo_01, .contenedor_titulo_02 {
        height: 4vh;
    }

    .contenedor_titulo_03{
        width: 320px;        
    }

    .contenedor_titulo_04 {
        width: 190px;
    }

    .img_02 {
        width: 150px;
        height: 150px;
    }

    .linea_final_01 {
        font-size: 0.8em;
    }    
}

@media (width <= 580px) {
    .img_02 {
        width: 120px;
        height: 120px;
    }

    .linea_final_01 {
        font-size: 0.7em;
    }
}

@media (width <= 470px) {

    .contenedor_titulo_01,
    .contenedor_titulo_02,
    .contenedor_titulo_03, 
    .contenedor_titulo_04 {
        top: -200px;
    }

    .linea_section1_01 {
        font-size: 1.3em;
    }

    .linea_section1_02 {
        font-size: 0.8em;
    }

    .contenedor_titulo_01, .contenedor_titulo_02 {
        height: 4vh;
    }

    .img_02 {
        width: 100px;
        height: 100px;
    }

    .linea_final_01 {
        font-size: 0.6em;
    }

    .linea_imagen {
        font-size: 0.8em;
    }
}

