body {
    margin: 0;
    padding: 0;
}

.caja_01 {
    background-color: #93B5C9;
    width: 100vw;
    height: 10vh;
}

.caja_02 {
    background-color: #AB2849;
    width: 100vw;
    height: 20vh;
}

.caja_03 {
    background-color: #AB2849;
    width: 80vw;
    height: 12vh;
    margin-top: 1.5vh;
    float: left;
}

.caja_04 {
    background-color: #AB2849;
    width: 80vw;
    height: 12vh;
    margin-top: 1.5vh;
    margin-bottom: 1vw;
    float: left;
}

.caja_05 {
    background-color: #AB2849;
    width: 96vw;
    height: 11vh;
    margin-left: 2vw;
    margin-right: 2vw;
    clear: left;
}